

<table mat-table [dataSource]="allBatches" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="batchId">
        <th mat-header-cell *matHeaderCellDef> Batch ID </th>
        <td mat-cell *matCellDef="let batch"> {{batch.batchId}} </td>
    </ng-container>

    <ng-container matColumnDef="quantities">
        <th mat-header-cell *matHeaderCellDef> Quantities </th>
        <td mat-cell *matCellDef="let batch"> {{batch.quantities}} </td>
    </ng-container>

    <ng-container matColumnDef="expirationDate">
        <th mat-header-cell *matHeaderCellDef> Expiration Date </th>
        <td mat-cell *matCellDef="let batch"> {{batch.expirationDate}} </td>
    </ng-container>

    <ng-container matColumnDef="purchasedDate">
        <th mat-header-cell *matHeaderCellDef> Purchased Date </th>
        <td mat-cell *matCellDef="let batch"> {{batch.purchasedDate}} </td>
    </ng-container>

    <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let batch"> $ {{batch.cost}} </td>
    </ng-container>

    <ng-container matColumnDef="manufacturer">
        <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
        <td mat-cell *matCellDef="let batch"> {{batch.manufacturer}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let batch" [attr.colspan]="displayedColumns.length">
            <div class="element-detail" [@detailExpand]="batch == expandedBatch ? 'expanded' : 'collapsed'">
                <p>Placeholder + Buttons</p>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let batch; columns: displayedColumns;" class="element-row"
        [class.expanded-row]="expandedBatch === batch" (click)="setExpandedBatch(batch)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>

<router-outlet></router-outlet>