<mat-card-content class="example-card">

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Product Name</mat-label>
        <input matInput type="text">
        <mat-icon matSuffix>redeem</mat-icon>
        <mat-hint>e.g. Silver Laptop</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Brand</mat-label>
        <input matInput type="text">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>e.g. BrandA</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Category</mat-label>
        <mat-hint>e.g. Fashion</mat-hint>
        <mat-icon matSuffix>category</mat-icon>
        <mat-select>
            <mat-option *ngFor="let category of allCategories">{{ category }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Price</mat-label>
        <input matInput type="number" class="example-right-align">
        <mat-icon matSuffix>attach_money</mat-icon>
        <mat-hint>e.g. 8.99</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Location</mat-label>
        <input matInput type="text">
        <mat-icon matSuffix>place</mat-icon>
        <mat-hint>e.g. A8</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>On Sale</mat-label>
        <mat-hint>e.g. Yes or No</mat-hint>
        <mat-icon matSuffix>local_offer</mat-icon>
        <mat-select>
            <mat-option value="No">No</mat-option>
            <mat-option value="Yes">Yes</mat-option>
        </mat-select>
    </mat-form-field>
</mat-card-content>
<mat-card-actions class="expandable-submit-button">
    <button mat-raised-button color="primary" (click) = "updateProduct()">Save</button>
    <button mat-raised-button color="primary">Delete</button>
</mat-card-actions>
