
<mat-stepper orientation="vertical">
    <mat-step>
        <ng-template matStepLabel>Step 1: Product Information</ng-template>
        <ng-template matStepContent>
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Product Name</mat-label>
                <input matInput type="text" [(ngModel)]="productName">
                <mat-icon matSuffix>redeem</mat-icon>
                <mat-hint>e.g. Silver Laptop</mat-hint>
            </mat-form-field>
            
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Brand</mat-label>
                <input matInput type="text" [(ngModel)]="productBrand">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>e.g. BrandA</mat-hint>
            </mat-form-field>
            
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Category</mat-label>
                <mat-hint>e.g. Fashion</mat-hint>
                <mat-icon matSuffix>category</mat-icon>
                <mat-select [(value)]="allCategories[0]">
                    <mat-option *ngFor="let category of allCategories" [value]="category">{{ category }}</mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Price</mat-label>
                <input matInput type="number" class="example-right-align"
                    [(ngModel)] = "productPrice">
                <mat-icon matSuffix>attach_money</mat-icon>
                <mat-hint>e.g. 8.99</mat-hint>
            </mat-form-field>
            
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Location</mat-label>
                <input matInput type="text" [(ngModel)] = "productLocation">
                <mat-icon matSuffix>place</mat-icon>
                <mat-hint>e.g. A8</mat-hint>
            </mat-form-field>
            
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>On Sale</mat-label>
                <mat-hint>e.g. Yes or No</mat-hint>
                <mat-icon matSuffix>local_offer</mat-icon>
                <mat-select>
                    <mat-option value="No">No</mat-option>
                    <mat-option value="Yes">Yes</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button matStepperNext>Next</button>
        </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Step 2: Batches</ng-template>
        <ng-template matStepContent>
            <p>This content was also rendered lazily</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button>Next</button>
        </ng-template>
    </mat-step>
</mat-stepper>