
.category-chips{
  display: flex;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.search-box {
  min-width: 500px;
  padding: 0 20px 0 0;
}

 .search-condition {
  margin: 50px;
}


