<h1 mat-dialog-title>Edit Product</h1>

<div mat-dialog-content>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Product Name</mat-label>
        <input matInput type="text" [value]="productName">
        <mat-icon matSuffix>redeem</mat-icon>
        <mat-hint>e.g. Silver Laptop</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Brand</mat-label>
        <input matInput type="text" [value]="productBrand">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>e.g. BrandA</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Category</mat-label>
        <mat-hint>e.g. Fashion</mat-hint>
        <mat-icon matSuffix>category</mat-icon>
        <mat-select [(value)]="selectedProduct == null ? 'allCategories[0]' : selectedProduct.category">
            <mat-option *ngFor="let category of allCategories" [value]="category">{{ category }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Price</mat-label>
        <input matInput type="number" class="example-right-align" [value]="productPrice">
        <mat-icon matSuffix>attach_money</mat-icon>
        <mat-hint>e.g. 8.99</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Location</mat-label>
        <input matInput type="text" [value]="selectedProduct == null ? 'Location' : selectedProduct.location">
        <mat-icon matSuffix>place</mat-icon>
        <mat-hint>e.g. A8</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>On Sale</mat-label>
        <mat-hint>e.g. Yes or No</mat-hint>
        <mat-icon matSuffix>local_offer</mat-icon>
        <mat-select [(value)]="productOnSale">
            <mat-option value="No">No</mat-option>
            <mat-option value="Yes">Yes</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div mat-dialog-actions class="expandable-submit-button">
    <button mat-raised-button color="primary" >Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="updateProduct()">Save</button>
</div>
<router-outlet></router-outlet>