/* You can add global styles to this file, and also import other style files */
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@include mat-core();

body {
  display: flex;
  justify-content: center;
}

.example-small-box, .example-large-box .expandable-submit-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-table {
  min-width:90%;
}

mat-card {
  min-width: 1200px;
  display: flex;
  justify-content: center;
}

.mat-card-content {
  min-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-condition {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

th.mat-sort-header-sorted {
  color: black;
}

.element-detail {
  display: flex;
  justify-content: center;
}

.batch-table {
  min-width: 1200px;
}

.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0;
}

#delete-icon{
  color: #C62828;
}

#edit-icon{
  color: #ffbb3d;
}

#add-icon{
  color: #a3c1ad;
}

.red-snackbar {
    background: #F44336;
    color: #F3F3F3;
}

.default-snackbar {
    color: #F3F3F3;
}

.mat-form-field-wrapper{
  padding: 0px;
}

.edit-input {
  margin: 10px 10px 10px 0px !important;
}

.input-field-name{
  min-width: 20%;
}

.input-field-brand .input-field-category  {
  min-width: 12.5%;
}

.input-field-location .input-field-price .input-field-onSale {
  min-width: 10%;
}

.edit-product-dialog .mat-dialog-content {
  overflow: hidden !important;
}

.pop-up-form {
  padding: 20px 0px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
}

.stepper-button {
  margin: 10px 5px !important; 
}

.stepper-action-single {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepper-action {
  display: flex;
  justify-content: center;
}

.batch-row {
  display: flex;
  justify-content: space-between;
}

.delete-batch-icon {
  display: flex;
  align-items: center;
}

.delete-icon-space {
  margin: 30px !important;
}

.pop-up-buttons{
  margin-bottom: 10px !important;
}


.category-chips{
  display: flex;
}

tr.detail-row {
  height: 0 !important;
}

tr.element-row:not(.example-expanded-row):hover {
  background: whitesmoke !important;
}

tr.element-row:not(.example-expanded-row):active {
  background: #efefef !important;
}

.element-row td {
  border-bottom-width: 0 !important;
}

.element-detail {
  overflow: hidden !important;
  display: flex !important;
}

.search-box {
  min-width: 500px !important;
  padding: 0 20px 0 0 !important;
}

 .search-condition {
  margin: 50px !important;
}